body {
    margin: 0;
    padding: 0;
    background: url('Images/BG.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.head {
    padding: 1rem;
    background-color: white;
    font-size: 2rem;
    box-shadow: 1px 1px 10px 5px rgb(63, 61, 61);
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-content: center;
    justify-content: center;
}

.logo {
    margin: 0;
    margin-top: 0.4rem;
    margin-right: -2rem;
}

.titleH {
    font-size: 3rem;
    font-family: Arial, sans-serif;
    margin: auto 0;
}

.headb {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1.3rem;
    gap: 3vw;
}

.hbutton {
    text-decoration: none;
    color: black;
}

.imghome {
    position: relative;
    top: 0.3rem;
}

.accordion {
    cursor: pointer;
}

.body {
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 10px 5px rgb(63, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    display: flex;
    margin: 0 320px;
    justify-content: center;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    min-width: 200px;
    min-height: 100px;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

hr {
    width: 100%;
    margin: 1rem 0;
}

.size,
.pl {
    text-align: center;
    margin-bottom: 1rem;
}
.about,
.para,
.screenshot,
.req {
    text-align: center;
    margin: 1rem -0.3rem;
}

.pics img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: large;
}

.Download {
    display: block;
    margin: 1rem auto;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: blue;
    border-radius: 1.5rem;
    border: 3px solid rgb(93, 93, 228);
    transition: 1s ease;
    text-decoration: none;
    cursor: pointer;
}

.Download:hover {
    transform: scale(1.1);
    background-color: rgb(64, 64, 73);
    border: 3px solid rgb(6, 6, 6);
    border-radius: 1.9rem;
}

.foot {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    margin-bottom: -1rem;
    position: sticky;
    background-color: black;
}

.footer {
    background-color: black;
    color: whitesmoke;
    top: 100%;
    font-size: 1.5vw;
    display: flex;
    gap: 7.8vw;
}

.copy {
    font-size: 1.2vw;
}

@media only screen and (max-width: 785px) {

    .body {
        padding: 1rem;
    }
    
    .title {
        font-size: 1.2rem;
    }
    
    .para {
        font-size: 0.9rem;
        margin: 1rem 0.3rem;
    }
    
    .Download {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .copy {
        font-size: 2vw;
    }  
    .headb {
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 1.3rem;
        gap: 3vw;
        font-size: 4vw;
    }
    .hbutton {
        text-decoration: none;
        color: black;
    }
    .accordion {
        cursor: pointer;
    }
    .home {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .titleH {
        font-size: 7vw;
    }
    .logo {
        margin-left: 0;
        width: auto;
        height: auto;
    }
    
}

@media only screen and (max-width: 400px) {
    
    .logo {
        margin-left: 0.4rem;
    }
    .logo img {
        width: 43px;
        height: 40px;
        position: relative;
        top: 0.3rem;
        margin-right: 0.3rem;
    }
    .titleH {
        font-size: 1.7rem;
    }
    .imghome {
        display: none;
    }
    .hbutton {
        font-size: medium;
    }
    .footer {
        font-size: 2vw;
        position: relative;
    }
    .pol {
        top: 0;
        right: 0.5rem;
        font-size: 2vw;
    }
    .copy {
        font-size: 2.2vw;
    }
}

@media only screen and (max-width: 325px) {
    .logo img {
        display: none;
    }
}
