.boxes {
    display: flex;
    margin: -1rem 1rem;
}

.box {
    padding: 5px 8px;
    margin: 3px;
    border: solid 1px rgb(39, 39, 176);
    background-color: rgb(55, 63, 171);
    color: white;
    cursor: pointer;
    text-decoration: none;
}