/* General Styles */
body {
    margin: 0;
    padding: 0;
    background: url('Images/BG.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    line-height: 1.5;
    font-family: cursive;
}

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    background-color: rgb(252, 112, 112);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(117, 0, 0);
    border-radius: 150vw;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(92, 6, 6);
}

/* Header Styles */
.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #ffffff;
    font-size: 1.7rem;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.logo {
    margin: 0;
    margin-top: 0.4rem;
    margin-right: -2rem;
}

.titleH {
    position: relative;
    left: 2.2rem;
    margin: auto 0;
}

.titleH a {
    text-decoration: none;
    color: #000;
}

.headb {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 2rem;
    margin-left: 3rem;
    margin-top: 1.3rem;
}

.hombutton,
.catbutton,
.cbutton,
.hbutton {
    text-decoration: none;
    color: rgb(12, 12, 12);
    z-index: 1;
    font-size: larger;
    margin: auto;
}

.hombutton {
    background-color: #000;
    color: white;
    height: fit-content;
    padding: 0 0.7rem;
    border-radius: 20px;
    box-shadow: 0.3px 2.5px 3px 1px rgb(147, 146, 146);
}

#cat,
#cat1 {
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
}

.hbutton:hover {
    color: white;
    background-color: black;
    padding: 0 0.7rem;
    border-radius: 20px;
    box-shadow: 0.3px 2.5px 3px 1px rgb(147, 146, 146);
}

.cbutton:hover {
    color: white;
    background-color: black;
    padding: 0 0.7rem;
    border-radius: 20px;
    box-shadow: 0.3px 2.5px 3px 1px rgb(147, 146, 146);
}

.imghome {
    position: relative;
    top: 0.3rem;
}

/* Category List Styles */
.catlist {
    margin-left: -1.8rem;
    margin-top: 1rem;
    position: relative;
    top: 0.2rem;
    border: 2.5px solid black;
    border-radius: 12px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Accordion Styles */
.accordion {
    width: 5em;
    top: -0.34rem;
    margin: auto 0;
    font-family: Arial, sans-serif;
    font-size: larger;
    position: relative;
}

/* Body Styles */
.body {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    padding: 40px 12px;
    background-color: #ffffff;
    gap: 27px;
    margin-top: 6.5rem;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px);
    position: relative;
}

/* Box Styles */
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(68, 68, 68);
    z-index: 1;
}

.box img {
    width: 330px;
    height: 205px;
    transition: transform 1s ease;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
}

.box img:hover {
    transform: scale(1.05);
}

.box img:hover::after {
    background-color: rgba(255, 255, 255, 0.582);
    z-index: 4;
}

.box a {
    text-decoration: none;
}

.name {
    color: rgb(66, 66, 66);
    text-decoration: none;
    font-size: larger;
    text-align: center;
}

/* Search Styles */
.search {
    position: relative;
    top: 8.5rem;
    left: 1rem;
    z-index: 1;
}

/* Page Styles */
.headp {
    padding: 0 1rem;
    background-color: white;
    text-align: start;
    font-size: 2rem;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    margin-top: -1.2rem;
}

.headc {
    padding: 0.1px 1rem;
    background-color: white;
    text-align: start;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    margin-top: 1.3rem;
}

/* Footer Styles */
.foot {
    width: 100%;
    position: relative;
    background-color: black;
    bottom: 0;
    margin-top: 1rem;
    z-index: 4;
}

.footer {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-size: 1.5vw;
    margin: 0 3rem;
}

.dmca {
    margin-left: 2rem;
    position: relative;
    margin-top: 1.47rem;
}

.special-directory p {
    font-size: 0.78rem;
    margin-top: 2.3rem;
}

.special-directory .name {
    position: relative;
    top: -0.75rem;
}

.ads-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

/* Responsive Styles */
@media only screen and (max-width: 1295px) {
    .cbutton {
        display: none;
    }
}

@media only screen and (max-width: 980px) {
    .hombutton,
    .catbutton,
    .hbutton {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 850px) {
    #cat {
        flex-direction: column;
    }
    #cat label {
        margin-left: 0.001rem;
    }
    #cat select {
        width: 7rem;
        position: relative;
        top: -2.3rem;
        left: 2rem;
        margin-bottom: -2.3rem;
    }
}
@media only screen and (max-width: 645px) {
    .hombutton {
        display: none;
    }

    .box img {
        width: 310px;
        height: 200px;
    }

    .box img:hover {
        transform: scale(1.05);
    }

    .footer {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 545px) {
    .titleH {
        font-size: 10vw;
    }
    .accordion-content {
        left: -10rem;
    }
    .accordion-header {
        left: -2rem;
    }
}

@media only screen and (max-width: 400px) {
    .foot {
        width: 100%;
        max-width: 100%;
    }

    .accordion {
        left: 8vw;
    }

    .logo {
        display: none;
    }

    .titleH {
        font-size: 10.2vw;
        margin-left: -2.3rem;
    }

    .box img {
        width: 265px;
        height: 155px;
    }

    .box img:hover {
        transform: scale(1.03);
    }

    .last {
        font-size: 0.4rem;
    }
    .special-directory p {
        font-size: 0.67rem;
    }
}

@media only screen and (max-width: 300px) {
    .hbutton {
        font-size: 1rem;
    }
    #cat label {
        font-size: 1rem;
    }
    #cat select {
        font-size: 1rem;
    }
    .box img {
        width: 225px;
        height: 135px;
    }
    .box img:hover {
        transform: scale(1.03);
    }
    .footer {
        font-size: 0.5rem;
        margin-left: 10px;
    }
}