body {
    margin: 0;
    padding: 0;
    background: url('Images/BG.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    background-color: rgb(207, 203, 203);
    border-radius: 150vw;
    margin-block: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 117, 117);
    outline: 1px solid slategrey;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 150vw;

}
body::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

.head {
    padding: 1rem;
    background-color: white;
    font-size: 2rem;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    margin-bottom: -0.7rem;
    margin: 0 2rem;
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 0;
    margin-top: 0.4rem;
    margin-right: -2rem;
}

.titleH {
    position: relative;
    left: 2.2rem;
    font-size: 3rem;
    font-family: Arial, sans-serif;
    margin: auto 0;
}

.headb {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1.3rem;
    gap: 3vw;
}

.hbutton {
    text-decoration: none;
    color: black;
    z-index: 2;
}

.hbutton:hover {
    color: white;
    background-color: black;
}

.imghome {
    position: relative;
    top: 0.3rem;
}

.accordion {
    width: 5em;
    margin: auto 0;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    position: relative;
    left: 25vw;
  }

.body {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    background-color: white;
    padding: 40px 12px;
    gap: 27px;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    min-height: calc(100vh - 150px);
}


.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(240, 232, 232);
}

.box img {
    width: 400px;
    height: 255px;
    transition: transform 1s ease;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
}

.box img:hover {
    transform: scale(1.05);
}

.name {
    text-decoration: none;
    color: black;
    font-size: larger;
    text-align: center;
}

.search {
    position: relative;
    top: 2rem;
    left: 3rem;
    z-index: 1;
}
/* pages */
.headp {
    padding: 0 1rem;
    background-color: white;
    text-align: start;
    font-size: 2rem;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    margin: 0 2rem;
    margin-top: -1.2rem;
}

.foot {
    width: 100%;
    position: relative;
    background-color: black;
    bottom: 0;
    margin-top: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-size: 1.5vw;
    margin: 0 3rem;
}

.dmca {
    margin-left: 2rem;
    position: relative;
    margin-top: 1.47rem;
}

@media only screen and (max-width: 1200px) {
    .accordion {
        left: 18vw;
      }
}
@media only screen and (max-width: 980px) {
    .accordion {
        left: 11vw;
      }
}
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .head {
        margin: 0 0.8rem;
    }
    .headp {
        margin: 0 0.8rem;
        margin-top: -1.2rem;
    }
    .titleH {
        font-size: 2rem;
    }
    .accordion {
        left: 10.5vw;
      }
    .body {
        margin: 0 0.8rem;
    }
    .box img {
        width: 310px;
        height: 200px;
    }
    .box img:hover {
        transform: scale(1.05);
    }
    .foot {
        display: block;
    }
    .footer {
        font-size: 1.5vw;
    }
}
@media only screen and (max-width: 400px) {
    .foot {
        width: 100%;
        max-width: 100%;
    }
    .accordion {
        left: 8vw;
      }
      .logo {
        display: none;
      }
    .titleH {
        font-size: 10.2vw;
        margin-left: -2.3rem;
    }
    .box img {
        width: 265px;
        height: 155px;
    }
    
    .box img:hover {
        transform: scale(1.03);
    }
    .last {
        font-size: 0.4rem;
    }
}
@media only screen and (max-width: 300px) {
    body {
        width: 100%;
    }
    .head {
        margin: 0 0.6rem;
    }
    .headp {
        margin: 0 0.6rem;
    }
    .titleH {
        font-size: 9vw;
    }
    .accordion {
        left: 8vw;
      }
    .hbutton {
        font-size: medium;
    }
    .body {
        margin: 0 0.6rem;
    }
    .box img {
        width: 225px;
        height: 135px;
        transition: transform 1s ease;
        box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    }
    .box img:hover {
        transform: scale(1.03);
    }
    .footer {
        font-size: 0.5rem;
        margin-left: 10px;
    }
}