body {
    margin: 0;
    padding: 0;
    background: url('Images/BG.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.head {
    padding: 1rem;
    background-color: white;
    text-align: center;
    font-size: 2rem;
    box-shadow: 1px 1px 10px 5px rgb(63, 61, 61);
    margin-bottom: -0.7rem;
}

.titleH {
    font-size: 3rem;
    padding: 0.1 1rem;
    margin: 0.2rem;
}

.body {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px 5px rgb(127, 124, 124);
    background-color: white;
    padding: 40px 12px;
    gap: 27px;
    justify-content: center;
    align-items: center;

}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(240, 232, 232);
}

.box img {
    width: 290px;
    height: 180px;
}

.search {
    position: relative;
    top: 25px;
    left: 5px;
}