body {
    background-color: white;
    font-family: cursive;
}

.hidden {
    display: none;
}

.discordbutton {
    position: relative;
    top: -1rem;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    border: rgb(54, 101, 232);
    cursor: pointer;
    color: white;
    background-color: rgb(54, 101, 232);
    border-radius: 0.6rem;
    text-decoration: none;
}

.discordbutton::hover {
    border: 2px rgb(127, 124, 124);
}

.Comments {
    width: 100%;
}

.comments::-webkit-scrollbar {
    width: 0.6em;
}

.comments::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.271);
}

.comments::-webkit-scrollbar-thumb {
    background-color: rgba(110, 110, 110, 0.178);
    border-radius: 150vw;
}

.comments::-webkit-scrollbar-thumb:hover {
    background-color: rgba(155, 141, 141, 0.332);
}



#authentication {
    text-align: center;
    padding: 10vw;
    box-shadow: 0 0 5px black;
    margin-top: 10px;
}

#authentication label, #authentication input, #authentication button {
    margin: 10px;
    font-size: large;
}
